h1 {
    text-align: center;
}

div {
    background-color: #d1e0e0;
    padding: 20px;
}

ol {
    color: white;
    background-color: #ffb3d9;
    padding: 15px;
    margin: 0;
    list-style-position: inside
}

ol li {
    margin: 5px;
    padding: 5px;
    padding-left: 10px;
    background-color: #ff3399;
}


ol li span {
    padding: 5px 10px;
    background-color: brown;
}

